body,
html {
  color: #ffffff;
  outline: none;
}
.angle {
  background: url('../images/angle_left.png'), url('../images/angle_right.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center left, center right;
}
.angle34 {
  background: url('../images/angle_left_34.png'), url('../images/angle_right_34.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center left, center right;
}
@font-face {
  font-family: sommet;
  src: url(../fonts/sommet.woff);
}
@font-face {
  font-family: klavika;
  src: url(../fonts/klavika-regular.woff);
}
@font-face {
  font-family: klavika-light;
  src: url(../fonts/klavika-light.woff);
}
input {
  border: 0px;
  background-color: #ffffff;
}
input.angle {
  background-color: #ffffff;
  color: #000000;
  padding: 0px 10px;
}
input.angle.angle34 {
  padding: 0px 15px;
}
input.search {
  height: 32px;
  width: 100%;
  margin: 10px 0px;
}
.section_title {
  padding: 0px;
  padding-right: 30px;
  padding-left: 0px;
  border-bottom: 2px solid #fff;
  color: #000000;
  display: inline-block;
  font-weight: normal;
  margin-top: 0px;
  font-family: klavika-light;
}
.header {
  background-color: #003764;
  font-weight: normal;
}
.header .top_text {
  background: url('../images/text_left_margin.png'), url('../images/text_right_margin.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center left, center right;
  padding: 0px 20px;
  font-size: 11px;
  width: 100%;
  margin: 10px 0px;
  height: 32px;
  line-height: 27px;
}
.header .logo {
  position: absolute;
  bottom: -39px;
  left: 62px;
  width: 197px;
  height: 78px;
  background-image: url('../images/logo.png');
  background-repeat: no-repeat;
}
.header .inner_container {
  position: relative;
  height: 100px;
}
.header .top-menu {
  font-weight: normal;
  color: #ffffff;
  font-size: 12px;
}
.header .top-menu .menu-item {
  height: 50px;
  padding: 0px;
  background-image: url('../images/icons/icon1.png');
  background-repeat: no-repeat;
  background-position: 5px 28px;
  font-family: sommet;
  color: #fff;
  text-decoration: none;
  outline: none;
  background-color: #043e65;
}
.header .top-menu .menu-item.icon2 {
  background-image: url('../images/icons/icon2.png');
}
.header .top-menu .menu-item.icon3 {
  background-image: url('../images/icons/icon3.png');
}
.header .top-menu .menu-item:hover {
  background-color: #fc6756;
}
.header .top-menu .menu-item:hover .label2 {
  color: #043e65;
}
.header .top-menu .label1 {
  font-weight: normal;
  margin: 0px;
  margin-top: 10px;
  margin-left: 6px;
  display: block;
}
.header .top-menu .label2 {
  color: #fc6756;
  font-weight: normal;
  margin: 0px;
  display: block;
  margin-left: 28px;
  margin-top: 5px;
}
.header .dropdowns {
  margin-top: 10px;
}
.header .dropdowns .select1 {
  border: 14px solid transparent;
  padding: 0px;
  height: 0px;
  line-height: 0px;
  box-sizing: border-box;
  -moz-border-image: url("../images/select_1.png") 14 16 stretch;
  /* Old Firefox */
  -webkit-border-image: url("../images/select_1.png") 14 16 stretch;
  /* Safari */
  -o-border-image: url("../images/select_1.png") 14 16 stretch;
  /* Opera */
  border-image: url("../images/select_1.png") 14 16 stretch;
  color: #10a8a0;
  display: block;
  text-decoration: none;
}
.header .dropdowns .select2 {
  border: 13px solid transparent;
  padding: 0px;
  height: 0px;
  line-height: 0px;
  box-sizing: border-box;
  -moz-border-image: url("../images/select_2.png") 13 16 stretch;
  /* Old Firefox */
  -webkit-border-image: url("../images/select_2.png") 13 16 stretch;
  /* Safari */
  -o-border-image: url("../images/select_2.png") 13 16 stretch;
  /* Opera */
  border-image: url("../images/select_2.png") 13 16 stretch;
  color: #10405d;
  display: block;
  text-decoration: none;
}
.header .main-menu .menu-item {
  border-top: 1px solid #043e65;
  padding: 0px;
}
.header .main-menu .menu-item .label {
  margin-top: 10px;
  width: 100%;
  display: block;
  height: 26px;
  line-height: 20px;
  font-weight: normal;
  font-size: small;
  font-family: sommet;
}
.header .main-menu .menu-item:hover {
  border-top: 1px solid #fc6756;
}
.header .main-menu .menu-item:hover .label {
  background: url('../images/angle_left_28.png'), url('../images/angle_right_28.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center left, center right;
  background-color: #fc6756;
  color: #043e65;
}
.banner_area {
  background-color: #f8f8f8;
}
.banner_area .left_bar {
  background-color: #fc6756;
  -ms-transform: rotate(-90deg);
  /* IE 9 */
  -webkit-transform: rotate(-90deg);
  /* Chrome, Safari, Opera */
  transform: rotate(-90deg);
  font-size: 20px;
  position: absolute;
  height: 30px;
  line-height: 30px;
  width: 200px;
  left: -85px;
  top: 350px;
  text-align: center;
}
.banner_area .right_bar {
  position: absolute;
  top: 200px;
  right: 0px;
  width: 113px;
}
.banner_area .right_bar a {
  display: block;
  float: right;
  clear: both;
  width: 33px;
  height: 33px;
  line-height: 33px;
  overflow: hidden;
  margin-bottom: 2px;
  -webkit-transition: width 0.2s;
  /* For Safari 3.1 to 6.0 */
  transition: width 0.2s;
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 33px;
  text-decoration: none;
  color: #fff;
  outline: none;
}
.banner_area .right_bar a.fb {
  background-color: #204385;
  background-image: url('../images/fb_logo.png');
}
.banner_area .right_bar a.twitter {
  background-color: #2aa9e0;
  background-image: url('../images/tw_logo.png');
}
.banner_area .right_bar a.youtube {
  background-color: #eb2429;
  background-image: url('../images/yt_logo.png');
}
.banner_area .right_bar a:hover {
  width: 113px;
}
.banner_area .right_bar a span {
  margin-left: 5px;
}
.listing1 {
  padding: 40px 0px;
  background-image: url('../images/listing1_bg.png');
}
.listing1 .sidebar {
  padding: 20px;
  background-color: #1f4f77;
  min-height: 100%;
  height: 100%;
  color: #ffffff;
}
.listing1 .sidebar a {
  color: #fff;
  text-decoration: none;
  outline: none;
}
.listing1 .sidebar h2 {
  font-size: 1.5em;
  margin: 10px 0px;
  font-weight: bold;
}
.listing1 .sidebar h3 {
  font-size: 1.1em;
  margin: 2px 0px;
}
.listing1 .listing {
  background-color: #fdfdfd;
  margin-left: 5px;
  color: #000000;
  font-family: klavika;
}
.listing1 .listing .pic {
  overflow: hidden;
}
.listing1 .listing .buttons {
  padding-left: 10px;
  padding-right: 20px;
}
.listing1 .listing .buttons div {
  text-align: center;
}
.listing1 .listing .entry {
  margin: 5px;
  padding: 10px;
}
.listing1 .listing .entry:nth-child(odd) {
  background: #ececec;
}
.listing1 .listing .entry p {
  color: #282828;
  text-align: justify;
}
.listing1 .listing .entry .send {
  color: #ffffff;
  border: 15px solid transparent;
  padding: 0px;
  height: 0px;
  line-height: 0px;
  box-sizing: border-box;
  -moz-border-image: url("../images/border.png") 15 12 stretch;
  /* Old Firefox */
  -webkit-border-image: url("../images/border.png") 15 12 stretch;
  /* Safari */
  -o-border-image: url("../images/border.png") 15 12 stretch;
  /* Opera */
  border-image: url("../images/border.png") 15 12 stretch;
}
.listing1 .listing .entry .skype {
  color: #ffffff;
  border: 15px solid #00aff0;
  padding: 0px;
  height: 0px;
  line-height: 0px;
}
.listing1 .listing .entry .mesaj {
  color: #ffffff;
  border: 15px solid #008276;
  padding: 0px;
  height: 0px;
  line-height: 0px;
  margin-left: 1px;
}
.listing1 .listing .entry .ignora {
  color: #ffffff;
  border: 15px solid transparent;
  padding: 0px;
  height: 0px;
  line-height: 0px;
  box-sizing: border-box;
  -moz-border-image: url("../images/border_orange.png") 15 12 stretch;
  /* Old Firefox */
  -webkit-border-image: url("../images/border_orange.png") 15 12 stretch;
  /* Safari */
  -o-border-image: url("../images/border_orange.png") 15 12 stretch;
  /* Opera */
  border-image: url("../images/border_orange.png") 15 12 stretch;
  border-left: 0px;
  margin-left: 1px;
}
.home1 {
  padding: 40px 0px;
  background-image: url('../images/listing1_bg.png');
  font-family: klavika;
}
.home1 .sidebar {
  padding: 20px;
  background-color: #1f4f77;
  min-height: 100%;
  height: 100%;
  color: #ffffff;
}
.home1 .sidebar a {
  color: #fff;
  text-decoration: none;
  outline: none;
}
.home1 .sidebar h2 {
  font-size: 1.5em;
  margin: 10px 0px;
  font-weight: bold;
  font-family: klavika;
}
.home1 .sidebar h3 {
  font-size: 1.1em;
  margin: 2px 0px;
}
.article_listing {
  padding: 40px 0px;
  background-image: url('../images/article_listing_bg.png');
  background-position: center -123px;
  background-repeat: no-repeat;
  font-family: klavika;
}
.article_listing .inner_container h2 {
  padding: 10px;
  padding-right: 30px;
  padding-left: 0px;
  border-bottom: 2px solid #fc6756;
  color: #000000;
  display: inline-block;
  font-family: klavika-light;
  font-size: 2.5em;
}
.article_listing .inner_container .left_area {
  background-color: #ffffff;
  padding: 30px;
  color: #000;
}
.article_listing .inner_container .left_area .article {
  margin-bottom: 40px;
}
.article_listing .inner_container .left_area .article h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
}
.article_listing .inner_container .left_area .article p {
  font-family: arial;
  font-size: 1.1em;
  font-weight: normal;
}
.article_listing .inner_container .left_area .article .continue {
  display: inline-block;
  float: right;
  clear: both;
  color: #00958a;
  text-decoration: none;
  font-family: klavika;
  font-weight: bold;
  font-size: 1.2em;
}
.article_listing .inner_container .left_area .article .continue::before {
  content: "[";
  color: #000000;
  padding: 0px 5px;
}
.article_listing .inner_container .left_area .article .continue::after {
  content: "]";
  color: #000000;
  padding: 0px 5px;
}
.article_listing .inner_container .right_area .banner {
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
  height: 300px;
  background-image: url('../images/banner2.png');
  background-position: center center;
  background-repeat: no-repeat;
}
.stiri {
  padding: 40px 0px;
  background-image: url('../images/stiri_bg.png');
  background-repeat: repeat-y;
  background-position: top center;
  font-family: klavika;
}
.stiri .inner_container h2 {
  padding: 0px;
  padding-right: 30px;
  padding-left: 0px;
  border-bottom: 2px solid #fff;
  color: #000000;
  display: inline-block;
  font-weight: normal;
  margin-top: 0px;
  font-family: klavika-light;
  font-size: 2.5em;
}
.stiri .inner_container .left_area {
  padding: 0px 30px;
  color: #000;
}
.stiri .inner_container .left_area .article {
  margin-bottom: 40px;
}
.stiri .inner_container .left_area .article h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
}
.stiri .inner_container .left_area .article p {
  font-family: arial;
  font-size: 1.1em;
  font-weight: normal;
}
.stiri .inner_container .left_area .article .continue {
  display: inline-block;
  float: right;
  clear: both;
  color: #fff;
  text-decoration: none;
  font-family: klavika;
  font-weight: bold;
  font-size: 1.2em;
}
.stiri .inner_container .left_area .article .continue::before {
  content: "[";
  color: #000000;
  padding: 0px 5px;
}
.stiri .inner_container .left_area .article .continue::after {
  content: "]";
  color: #000000;
  padding: 0px 5px;
}
.stiri .inner_container .right_area {
  padding: 0px 30px;
  color: #fff;
}
.stiri .inner_container .right_area .article {
  margin-bottom: 40px;
}
.stiri .inner_container .right_area .article h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5em;
}
.stiri .inner_container .right_area .article p {
  font-family: arial;
  font-size: 1.1em;
  font-weight: normal;
}
.stiri .inner_container .right_area .article .continue {
  display: inline-block;
  float: right;
  clear: both;
  color: #fff;
  text-decoration: none;
  font-family: klavika;
  font-weight: bold;
  font-size: 1.2em;
}
.stiri .inner_container .right_area .article .continue::before {
  content: "[";
  color: #000000;
  padding: 0px 5px;
}
.stiri .inner_container .right_area .article .continue::after {
  content: "]";
  color: #000000;
  padding: 0px 5px;
}
.t_boxes {
  padding: 40px 0px;
  background-color: #ececec;
  font-family: klavika;
}
.t_boxes div.inner_column {
  padding: 40px;
  color: #fff;
  max-height: 350px;
  overflow: hidden;
}
.t_boxes div.inner_column h3 {
  padding: 0px;
  padding-right: 30px;
  padding-left: 0px;
  border-bottom: 2px solid #fff;
  color: #000000;
  display: inline-block;
  font-weight: normal;
  margin-top: 0px;
  font-family: klavika-light;
  border-color: #fff;
  font-size: 1.8em;
}
.t_boxes div.inner_column ul {
  list-style-type: none;
  padding: 0px;
}
.t_boxes div.inner_column li {
  padding: 5px;
  text-decoration: none;
  font-size: 1.2em;
  font-family: arial;
  font-weight: normal;
}
.t_boxes div.inner_column p {
  padding: 5px;
  font-size: large;
  font-size: 1.2em;
  font-family: arial;
  font-weight: normal;
}
.t_boxes div.inner_column.box1 {
  background-color: #f4c305;
}
.t_boxes div.inner_column.box1 h3 {
  color: #000;
}
.t_boxes div.inner_column.box2 {
  background-color: #fc6756;
}
.t_boxes div.inner_column.box2 h3 {
  color: #fff;
}
.t_boxes div.inner_column.box3 {
  background-color: #008276;
}
.sponsors {
  padding: 40px 0px;
}
.sponsors div.inner_column {
  height: 100px;
  text-align: center;
}
.footer {
  padding: 40px 0px;
  background-color: #00958a;
  background-image: url('../images/footerbg.png');
  background-position: top center;
  background-repeat: no-repeat;
}
.footer div.inner_column {
  color: #fff;
  max-height: 350px;
  overflow: hidden;
}
.footer div.inner_column.bar_bg {
  background-image: url('../images/bar_bg.png');
  background-position: top left;
  background-repeat: no-repeat;
}
.footer div.inner_column ul {
  list-style-type: none;
  padding: 0px;
  text-align: center;
}
.footer div.inner_column li {
  padding: 5px;
  text-decoration: none;
  font-size: large;
}
.footer div.inner_column li a {
  text-decoration: none;
  color: #fff;
}
.footer div.inner_column li a:hover {
  text-decoration: underline;
}
.footer div.inner_column .logo_bottom {
  display: block;
  width: 235px;
  height: 76px;
  background-image: url('../images/logo_bottom.png');
}
.under_footer {
  padding: 20px 0px;
  font-size: small;
}
.under_footer a {
  color: #8d8d8d;
}
