.article_listing {
	padding:@section_padding;

	background-image: url('../images/article_listing_bg.png');
	background-position: center -123px;
	background-repeat: no-repeat;

	font-family: klavika;
	.inner_container {

		h2 {
			padding: 10px;
			padding-right: 30px;
			padding-left: 0px;
			border-bottom: 2px solid @color_orange1;
			color: #000000;
			display: inline-block;
			font-family: klavika-light;
			font-size: @font-size1;
		}

		.left_area {
			background-color: #ffffff;
			padding:30px;
			color: #000;

			.article { 
				h3 {
					margin-bottom: 20px;
					font-weight: bold;
					font-size: @font-size2;
				}

				p {
					font-family: arial;
					font-size: @font-size3;
					font-weight: normal;
				}

				.continue {
					display: inline-block;
					float: right;
					clear: both;
					color: @color_blue5;
					text-decoration: none;
					font-family: klavika;
					font-weight: bold;
					font-size: @font-size4;

					&::before {
					    content: "[";
					    color: #000000;
					    padding: 0px 5px;
					} 
					&::after {
					    content: "]";
					    color: #000000;
					    padding: 0px 5px;
					} 
				}

				margin-bottom: 40px;
			}

		}

		.right_area {
			.banner {
				margin-bottom: 20px;
				overflow: hidden;
				width: 100%;
				height: 300px;
				background-image:url('../images/banner2.png');
				background-position: center center;
				background-repeat: no-repeat;
			}
		}

	}
}