.banner_area {
	background-color: @color_grey1;

	.left_bar {
		background-color: @color_orange1;
		    -ms-transform: rotate(-90deg); /* IE 9 */
		    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
		    transform: rotate(-90deg);
		    font-size:20px;
		    position: absolute;
		    height:30px;
		    line-height:30px;
		    width:200px;
		    left:-85px;
		    top:350px;
		    text-align: center;
	}

	.right_bar {

		position: absolute;
		top:200px;
		right:0px;
		width: 113px;

		a {
			display: block;
			float: right;
			clear: both;
			width:33px;
			height:33px;
			line-height:33px;
			overflow: hidden;
			margin-bottom: 2px;

			-webkit-transition: width 0.2s; /* For Safari 3.1 to 6.0 */
    		transition: width 0.2s;

    		background-repeat: no-repeat;
    		background-position: left;
    		padding-left: 33px;
    		text-decoration: none;
    		color: #fff;

    		outline: none;

			&.fb {
				background-color: #204385;
				background-image: url('../images/fb_logo.png');
			}

			&.twitter {
				background-color: #2aa9e0;
				background-image: url('../images/tw_logo.png');
			}
			&.youtube {
				background-color: #eb2429;
				background-image: url('../images/yt_logo.png');
			}

			&:hover {
				width:113px;
			}

			span {
				margin-left: 5px;
			}
		}


	}
}