.footer {
	padding:@section_padding;

	background-color: @color_blue5;
	background-image: url('../images/footerbg.png');
	background-position: top center;
	background-repeat: no-repeat;

	div {
		&.inner_column {
			color:#fff;
			max-height: 350px;
			overflow: hidden;

			&.bar_bg {
				background-image: url('../images/bar_bg.png');
				background-position: top left;
				background-repeat: no-repeat;
			}
			
			ul {
				list-style-type: none;
				padding: 0px;
				text-align: center;
			}

			li {
				padding:5px;
				text-decoration: none;
				font-size: large;

				a {
					text-decoration: none;
					color: #fff;

					&:hover {
						text-decoration: underline;
					}
				}
			}


			.logo_bottom {
				display: block;
				width: 235px;
				height:76px;
				background-image: url('../images/logo_bottom.png');
			}
		
		}
	}
}

.under_footer {
		padding:@section_padding_half;
		font-size: small;

		a {
			color: @color_grey4;
		}
}