.header {
	background-color: @color_blue1;
	font-weight: normal;


	.top_text {
	background: url('../images/text_left_margin.png'), url('../images/text_right_margin.png');
	 	 background-repeat: no-repeat, no-repeat;
	  background-position: center left, center right;
	  padding:0px 20px;
	  font-size: 11px;
	  	width: 100%;
		margin:10px 0px;
		height : 32px;
		line-height: 27px;
	}
	
	.logo {
		position:absolute;
		bottom: -39px;
		left:62px;
		width:197px;
		height:78px;
		background-image: url('../images/logo.png');
		background-repeat: no-repeat;
	}

	.inner_container {
		position: relative;
		height: 100px;		
	}

	.top-menu {
		font-weight: normal;
		.menu-item {
			height:50px;
			padding:0px;
			background-image: url('../images/icons/icon1.png');
			background-repeat: no-repeat;
			background-position: 5px 28px;

			font-family: sommet;
			
			color:#fff;
			text-decoration: none;
			outline: none;

			background-color: @color_blue3;
			&.icon2 {
				background-image: url('../images/icons/icon2.png');
			}
			&.icon3 {
				background-image: url('../images/icons/icon3.png');
			}
			&:hover {
				background-color: @color_orange1;

				.label2 {
					color:  @color_blue3;
				}
			}
		}

		color: @main_text_color;
		font-size:12px;

	
		
		.label1 {
			font-weight: normal;
			margin:0px;
			margin-top:10px;
			margin-left: 6px;
			display: block;
		}

		.label2 {
			color: @color_orange1;
			font-weight: normal;
			margin:0px;
			display: block;
			margin-left:28px;
			margin-top:5px;
		}
	}

	.dropdowns {
		margin-top: 10px;

		.select1 {
			.select_border("select_1",14,16);
			color: #10a8a0;
				display: block;
			text-decoration: none;

		}

		.select2 {
			.select_border("select_2",13,16);
			color: #10405d;
			display: block;
			text-decoration: none;
		}
	}

	.main-menu {
		.menu-item {

			border-top: 1px solid @color_blue3;
			padding:0px;

			.label {
				margin-top:10px;
				width: 100%;
				display: block;
				height:26px;
				line-height: 20px;
				font-weight: normal;
				font-size: small;
				font-family: sommet;
			}

			&:hover {

				border-top: 1px solid @color_orange1;

				.label {
					  	 background: url('../images/angle_left_28.png'), url('../images/angle_right_28.png');
					  	 background-repeat: no-repeat, no-repeat;
					  background-position: center left, center right;
					  background-color: @color_orange1;
					  color:  @color_blue3;
					}

			}
		}
	}
}