

.home1 {
	padding:40px 0px;

	background-image: url('../images/listing1_bg.png');
	font-family: klavika;


	.sidebar {
		padding:20px;
		background-color: @color_blue2;

		min-height: 100%;
		height: 100%;

		color: @main_text_color;

		a {
			color:#fff;
			text-decoration: none;
			outline: none;
		}

		h2 {
			font-size:1.5em;
			margin:10px 0px;
			font-weight: bold;
			font-family: klavika;
		}

		h3 {
			font-size: 1.1em;
			margin:2px 0px;
		}
	}


}