

.listing1 {
	padding:40px 0px;

	background-image: url('../images/listing1_bg.png');

	.sidebar {
		padding:20px;
		background-color: @color_blue2;

		min-height: 100%;
		height: 100%;

		color: @main_text_color;


		a {
			color:#fff;
			text-decoration: none;
			outline: none;
		}

		h2 {
			font-size:1.5em;
			margin:10px 0px;
			font-weight: bold;
		}

		h3 {
			font-size: 1.1em;
			margin:2px 0px;
		}
	}

	.listing {
		background-color: @color_grey3;
		margin-left: 5px;

		color: #000000;
		font-family: klavika;

		.pic {
			overflow: hidden;
		}

		.buttons {
			padding-left: 10px;
			padding-right: 20px;
			div {
				text-align: center;
			}
		}

		.entry {
			margin:5px;
			padding: 10px;

			&:nth-child(odd) {
			    background: @color_grey2;
			} 

			h3 {
			}

			p {
				color: #282828;
				text-align: justify;
			}
			.send {
					color: @main_text_color;
				.funny_border("border",15);
			}

			.skype {
					color: @main_text_color;
				  border: 15px solid @color_blue4;
				  padding: 0px;
				  height: 0px;
				  line-height: 0px;


			}

			.mesaj {
					color: @main_text_color;
				  border: 15px solid @color_green1;
				  padding: 0px;
				  height: 0px;
				  line-height: 0px;
				  margin-left: 1px;

			}
			.ignora {
					color: @main_text_color;
					.funny_border("border_orange",15);
					 border-left:0px;
				   margin-left: 1px;
			}
		}
	}	
}