.funny_border(@string,@size) {
				  border: @size*1px solid transparent;
				 
				  padding: 0px;
				  height: 0px;
				  line-height: 0px;
				   box-sizing:border-box;
				  -moz-border-image:url("../images/@{string}.png") @size 12 stretch; /* Old Firefox */
				  -webkit-border-image:url("../images/@{string}.png") @size 12 stretch; /* Safari */
				  -o-border-image:url("../images/@{string}.png")@size 12 stretch; /* Opera */
				  border-image:url("../images/@{string}.png") @size 12 stretch;
}

.select_border(@string,@size1,@size2) {
				  border: @size1*1px solid transparent;
				 
				  padding: 0px;
				  height: 0px;
				  line-height: 0px;
				   box-sizing:border-box;
				  -moz-border-image:url("../images/@{string}.png") @size1 @size2 stretch; /* Old Firefox */
				  -webkit-border-image:url("../images/@{string}.png") @size1 @size2 stretch; /* Safari */
				  -o-border-image:url("../images/@{string}.png")@size1 @size2 stretch; /* Opera */
				  border-image:url("../images/@{string}.png") @size1 @size2 stretch;
}

.section_title {
			padding: 0px;
			padding-right: 30px;
			padding-left: 0px;
			border-bottom: 2px solid #fff;
			color: #000000;
			display: inline-block;
			font-weight: normal;
			margin-top: 0px;
			font-family: klavika-light;
			
}