.stiri {
	padding:@section_padding;

	background-image: url('../images/stiri_bg.png');
	background-repeat: repeat-y;
	background-position: top center;

	font-family: klavika;
	.inner_container {

		h2 {
			.section_title;
			font-size: @font-size1;
		}

		.left_area {
			padding:0px 30px;
			color: #000;

			.article { 
				h3 {
					margin-bottom: 20px;
					font-weight: bold;
					font-size: @font-size2;
				}

				p {
					font-family: arial;
					font-size: @font-size3;
					font-weight: normal;
				}

				.continue {
					display: inline-block;
					float: right;
					clear: both;
					color: #fff;
					text-decoration: none;
					font-family: klavika;
					font-weight: bold;
					font-size: @font-size4;

					&::before {
					    content: "[";
					    color: #000000;
					    padding: 0px 5px;
					} 
					&::after {
					    content: "]";
					    color: #000000;
					    padding: 0px 5px;
					} 
				}

				margin-bottom: 40px;
			}

		}

		.right_area {
			padding:0px 30px;
			color: #fff;

			.article { 
				h3 {
					margin-bottom: 20px;
						font-weight: bold;
					font-size: @font-size2;
				}

				p {
					font-family: arial;
					font-size: @font-size3;
					font-weight: normal;
				}

				.continue {
					display: inline-block;
					float: right;
					clear: both;
					color: #fff;
					text-decoration: none;
						font-family: klavika;
					font-weight: bold;
					font-size: @font-size4;


					&::before {
					    content: "[";
					    color: #000000;
					    padding: 0px 5px;
					} 
					&::after {
					    content: "]";
					    color: #000000;
					    padding: 0px 5px;
					} 
				}

				margin-bottom: 40px;
			}

		}


	}
}