@import "variables.less";

body, html {
	color: @main_text_color;
	outline: none;
}


.angle {
	  background: url('../images/angle_left.png'), url('../images/angle_right.png');

	  background-repeat: no-repeat, no-repeat;
	  background-position: center left, center right;

	  
}

.angle34 {
	  	 background: url('../images/angle_left_34.png'), url('../images/angle_right_34.png');
	  	 background-repeat: no-repeat, no-repeat;
	  background-position: center left, center right;
	}


@font-face {
    font-family: sommet;
    src: url(../fonts/sommet.woff);
}

@font-face {
    font-family: klavika;
    src: url(../fonts/klavika-regular.woff);
}
@font-face {
    font-family: klavika-light;
    src: url(../fonts/klavika-light.woff);
}

input {
	border:0px;
	background-color: @input_bg;
	

	&.angle {
		background-color: @input_bg;
		color: @input_color;
		padding: 0px 10px;

		&.angle34 {
			padding: 0px 15px;

		}
	}

	&.search {
		height : 32px;
		width: 100%;
		margin:10px 0px;
	}
}

@import "mixins";

@import "header";
@import "banner_area";
@import "listing1";
@import "home1";
@import "article_listing";
@import "stiri";
@import "three_boxes";
@import "sponsors_carusel";
@import "footer";

