.t_boxes {
	padding:@section_padding;

	background-color: @color_grey2;
	font-family: klavika;
	
	div {
		&.inner_column {
			padding: 40px;
			color:#fff;
			max-height: 350px;
			overflow: hidden;
			h3 {
				.section_title;
				border-color: #fff;
				font-size: @font-size5;

			}

			ul {
				list-style-type: none;
				padding: 0px;
			}

			li {
				padding:5px;
				text-decoration: none;
				font-size: @font-size4;
				font-family: arial;
				font-weight: normal;

			}

			p {
				padding:5px;
				font-size: large;
				font-size: @font-size4;
				font-family: arial;
				font-weight: normal;
			}

			&.box1 {
				background-color: @color_yellow1;

				h3 {
					color: #000;
				}
			}

			&.box2 {
				background-color: @color_orange1;
				h3 {
					color: #fff;
				}
			}

			&.box3 {
				background-color: @color_green1;
			}
		}
	}
}