@main_text_color:	#ffffff;

@color_blue1:		#003764;
@color_blue2:		#1f4f77;
@color_blue3:		#043e65;
@color_blue4:		#00aff0;
@color_blue5:		#00958a;
@color_blue6:		#003a5e;

@color_orange1:		#fc6756;
@color_grey1:		#f8f8f8;
@color_grey2:		#ececec;
@color_grey3:		#fdfdfd;
@color_grey4:		#8d8d8d;

@color_green1:		#008276;
@color_yellow1:		#f4c305;

@input_bg:			#ffffff;
@input_color:		#000000;

@section_padding:	40px 0px;
@section_padding_half:	20px 0px;

@font-size1: 2.5em;
@font-size2: 1.5em;
@font-size3: 1.1em;
@font-size4: 1.2em;
@font-size5: 1.8em;